@model IEnumerable<BusinessObjects.DTO.SachDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaSach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenSach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soluongton)
            </th>
            <th>
                MaTacGiaNavigation
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnhBia)
            </th>
            <th>
               MaTlNavigation
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamXuatBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoTrang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaTacGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaSach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soluongton)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNxbNavigation.TenNxb)
            </td>
            <td>
                    <img src=@item.AnhBia style=" height: 115px; width: 100px; object-fit: cover; display: block; margin: auto" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaTlNavigation.TenTl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamXuatBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoTrang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaTacGiaNavigation.TenTacGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
