@model IEnumerable<BusinessObjects.DTO.SachDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h1>Index</h1>

<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                    <div class="iq-card-header d-flex justify-content-between align-items-center position-relative">
                        <div class="iq-header-title">
                            <h4 class="card-title mb-0">Gợi ý cho bạn</h4>
                        </div>
                        <div class="iq-card-header-toolbar d-flex align-items-center">
                            <a href="category.html" class="btn btn-sm btn-primary view-more">Xem Thêm</a>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="iq-card iq-card-block iq-card-stretch iq-card-height browse-bookcontent">
                                        <div class="iq-card-body p-0">
                                            <div class="d-flex align-items-center">
                                                <div class="col-6 p-0 position-relative image-overlap-shadow">
                                                    <a href="javascript:void();"><img class="img-fluid rounded w-100" src="@item.AnhBia" alt=""></a>
                                                    <div class="view-book">
                                                        <a href="book-page.html" class="btn btn-sm btn-white">Mua Ngay</a>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="mb-2">
                                                        <h6 class="mb-1">@item.TenSach</h6>
                                                        <p class="font-size-13 line-height mb-1">@item.MaTacGiaNavigation.TenTacGia</p>
                                                        <div class="d-block line-height">
                                                  
                                                        </div>
                                                    </div>
                                                    <div class="price d-flex align-items-center">
                                                        <h6><b>@item.Gia đ</b></h6>
                                                    </div>
                                                    <div class="iq-product-action">
                                                        <button type="button" onclick="addToCart('@item.MaSach', '@item.TenSach', @item.Gia, 1,'@item.AnhBia')" class="btn btn-icon">
                                                            <i class="ri-shopping-cart-2-fill text-primary"></i>
                                                        </button>
                                                        <a href="javascript:void();" class="ml-2"><i class="ri-heart-fill text-danger"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
   async function addToCart(maSach, tenSach, giaBan, soLuong, anhBia) {
        const item = {
            maSach: maSach,
            tenSach: tenSach,
            soLuong: soLuong,
            giaBan: giaBan,
            anhBia: anhBia
           
        };
        try {
            const response = await fetch('https://localhost:7120/api/Cart/add', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(item), 
                credentials: 'include'
            });

            if (response.ok) {
                alert("Them vao gio hang thanh cong");
            } else {
                alert('Có lỗi xảy ra khi thêm sản phẩm vào giỏ hàng.');
            }
        } catch (error) {
            console.error('Lỗi:', error);
            alert('Có lỗi xảy ra khi thêm sản phẩm vào giỏ hàng.');
        }
    }
</script>
