 @model BusinessObjects.DTO.Cart;


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div id="success-message" class="alert alert-success" role="alert" style="display:none;">
    @ViewBag.Message
</div>
<div id="content-page" class="content-page">
    <div class="container-fluid checkout-content">
        <div class="row">
            <div id="cart" class="card-block show p-0 col-12">
                <div class="row align-item-center">
                    <div class="col-lg-8">
                        <div class="iq-card">
                            <div class="iq-card-header d-flex justify-content-between iq-border-bottom mb-0">
                                <div class="iq-header-title">
                                    <h4 class="card-title">Giỏ hàng</h4>
                                </div>
                            </div>
                            <div class="iq-card-body">
                                <ul class="list-inline p-0 m-0">
                                    @foreach (var item in Model.Items)
                                    {
                                        <li class="checkout-product">
                                            <div class="row align-items-center">
                                                <div class="col-sm-2">
                                                    <span class="checkout-product-img">
                                                        <a href="javascript:void();"><img class="img-fluid rounded" src="@item.AnhBia" alt=""></a>
                                                    </span>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="checkout-product-details">
                                                        <h5>@item.TenSach </h5>
                                                        <p class="text-success">Còn hàng</p>
                                                        <div class="price">
                                                            <h5>@item.GiaBan ₫</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="row">
                                                        <div class="col-sm-10">
                                                            <div class="row align-items-center mt-2">
                                                                <div class="col-sm-7 col-md-6">
                                                                    <button type="button" class="fa fa-minus qty-btn" id="btn-minus"></button>
                                                                    <input type="text" id="quantity" value="@item.SoLuong">
                                                                    <button type="button" class="fa fa-plus qty-btn" id="btn-plus"></button>
                                                                </div>
                                                                <div class="col-sm-5 col-md-6">
                                                                    <span class="product-price">@item.GiaBan ₫</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <a href="javascript:void();" class="text-dark font-size-20"><i class="ri-delete-bin-7-fill"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="iq-card">
                            <div class="iq-card-body">
                                <p>Tùy chọn</p>
                                <div class="d-flex justify-content-between">
                                    <span>Phiếu giảm giá</span>
                                    <span><a href="#"><strong>Áp dụng</strong></a></span>
                                </div>
                                <hr>
                                <p><b>Chi tiết</b></p>
                                <div class="d-flex justify-content-between mb-1">
                                    <span>Tổng</span>
                                    <span>@Model.TotalAmount</span>
                                </div>
                                <div class="d-flex justify-content-between mb-1">
                                    <span>Giảm giá</span>
                                   
                                </div>
                                <div class="d-flex justify-content-between mb-1">
                                    <span>Thuế VAT</span>
                                   
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span>Phí vận chuyển</span>
                                   
                                </div>
                                <hr>
                                <div class="d-flex justify-content-between">
                                    <span class="text-dark"><strong>Tổng</strong></span>
                                    <span class="text-dark"><strong>@Model.TotalAmount</strong></span>
                                </div>
                            </div>
                        </div>
                        <div class="iq-card">
                            <div class="iq-card-body">
                                <div class="card-lists">
                                    <div class="form-group">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="credit" name="customRadio" class="custom-control-input">
                                            <label class="custom-control-label" for="credit"> Thẻ Tín dụng / Ghi nợ / ATM</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="netbaking" name="customRadio" class="custom-control-input">
                                            <label class="custom-control-label" for="netbaking"> Momo/ZaloPay</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="cod" name="customRadio" class="custom-control-input">
                                            <label class="custom-control-label" for="cod"> Thanh toán khi giao hàng                                          </label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="iq-card">
                           <div class="iq-card-body"
                              <form onsubmit="required()" action="/Cart/SaveCart" method="post">
                                 <div class="form-group mt-3">
                                    <label>Họ và tên: *</label>
                                    <input type="text" class="form-control" name="HoVaTen" required="">
                                 </div>
                                 <div class="form-group">
                                    <label>Số điện thoại: *</label>
                                    <input type="text" class="form-control" name="SDT" required="">
                                 </div>
                                 <div class="form-group">
                                    <label>Xã: *</label>
                                    <input type="text" class="form-control" name="Xa" required="">
                                 </div>
                                 <div class="form-group">
                                    <label>Huyện: *</label>
                                    <input type="text" class="form-control" name="Huyen" required="">
                                 </div>
                                 <div class="form-group">
                                    <label>Tỉnh/thành phố: *</label>
                                    <input type="text" class="form-control" name="ThanhPho" required="">
                                 </div>
                                
                                     <button type="submit" id="place-order" href="@Url.Action("SaveCart","Cart")" class="btn btn-primary">Đặt hàng</button>
                              </form>
                            </div>
                        </div>                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
